html{
    font-size:62.5%;
}
body{
	margin:0;
	min-width:800px;
	font-family:"微软雅黑";
    font-size:12px;
    font-size:1.2rem;
}
p{
    font-size:14px;
    font-size:1.4rem;
	margin:0;
}
#header{
    position: relative;
    z-index: 999;
    height: 4em;
	width:100%;
    /* background-color: rgb(21, 9, 9); */
	/* opacity:.95; */
}
#header div{
	height:2em;
	margin:auto;
	position:absolute;
	top:0;left:0;right:0;bottom:0;
}
#header p{
	font-family:"宋体";
	font-weight:bold;
	font-size:2em;
	/* color:rgb(219,73,83); */
}
#header img{

	display:inline-block;
	width:8em;
	margin-left:5%;
}
#nav{
	z-index:999;
	width:100%;
}
#nav ul{
	list-style:none;
	margin:0;
	margin-top: -5px;
	padding:0;
	font-size:0;
}
#nav ul li{
	display:inline-block;
	width:25%;
	padding:.5em 0;
	
	border-top:1px solid #999;
	font-size:12px;
    letter-spacing:normal;
    word-spacing:normal;
	text-align:center;
	background-color:#fff;
}
#nav ul li:hover{
	
}
#nav ul li p{text-align:center;}
#nav ul li a{text-align:center;}
.nav_CN{
	color:#333;
	font-weight:bold;
	font-size:1.5rem;
}
.nav_EN{
	color:#666;
	font-size:.9rem;
}
.nav_red_border{border-bottom:4px solid rgb(219,73,83);}
.nav_white_border{border-bottom:1px solid #999;}
.topImg{
	width:100%;
}
.container{
	margin-top:8em;
}
h1{
	margin:0;
	margin-left:20%;
	color:#333;
}
h2{
	margin:0;
	margin-left:20%;
	font-size:1em;
	font-weight:normal;
	color:#666;
}
#intro img{
	width:27%;
	display:inline-block;
}
#intro p{
	display:inline-block;
	vertical-align:top;
	margin-left:2%;
	width:71%;
	color:#666;
	text-align:justify;
}
#intro div{
	margin:2em 20% 0 20%;
	padding:3em 0;
	width:60%;
}
#shows .content{
	margin:0;
	margin-top:2em;
	padding:0;
	width:200%;
	list-style:none;
	font-size:0px;
	background-color:#ccc;
	border:none;
}
#shows .content li{
	display:inline-block;
	vertical-align:top;
	margin:0 10%;
	width:30%;
}
#shows .content li embed{
}
#shows .nav_2{
	margin-top: 2em;
    margin-left: 20%;
	margin-bottom:2em;
    padding: .5em 1%;
    width: 58%;
    border: 2px solid #ccc;
}
#shows .nav_2 a{
	display:inline-block;
	text-decoration:none;
	font-weight:bold;
	color:#999;
}
#shows .nav_2 p{
	display:inline-block;
	font-weight:bold;
	color:#999;
}
#shows .nav_2 .options:hover{
	color:rgb(219,73,83)
}
#shows .content img{
	display:inline-block;
    margin-bottom: 8px;
}
#shows .content .imgLong{
	/* width:2.469135*27%; */
	width:70%;
}
#shows .content .imgShort{
	width:28.4%;
}
.imgMargin{
	margin-left:1.6%;
}
#conductors .conductor{
	position:relative;
	width:60%;
	margin-left:20%;
	padding:2em 0;
	border-bottom:1px dashed #ccc;
}
#conductors .conductor img{
	display:inline-block;
	width:20%;
	margin-right:2%;
}
#conductors .conductor  p{
	display:inline-block;
	vertical-align:top;
	width:78%;
	color:#666;
	text-align: justify;
}
#contact .map{
	margin:2em 20% 0 20%;
	width:60%;
}
#contact .map div{
	display:inline-block;
	vertical-align:top;
	margin-left:4%;
	width: 62%;
	text-align: justify;
	color:#666;
}
#contact .map img{
	margin:0 -1px;
	border:1px dashed #ccc;
	width:34%;
}
#contact .contact_info{
	margin:1em 20% 0 20%;
	padding:.5em 0;
	width:60%;
	height:10em;
	background-color:rgb(219,73,83);
}
#contact .contact_info img{
	display:inline-block;
	margin-right:3%;
	/* width:17%; */
	height:10em;
}
#contact .contact_info p{
	display:inline-block;
	vertical-align:top;
	width:54%;
	height:10em;
	line-height:5em;
	margin:0 3%;
	color:#fff;
	font-size:2em;
}
/* #contact .map div img{
	width:15%;
	border:none;
	margin:1em 5% 0 0;
} */
#footer {
	padding: 2em 20%;
	width:60%;
	background-color:#333;
}
#footer img{
	display:inline-block;
	/* float:right; */
	width:12%;
	padding-left:8%;

}
#footer p{
	display:inline-block;
	vertical-align:top;
	/* margin-left:5%; */
	padding-right:8%;
	margin-right:-1px;
	border-right:1px dashed #fff;
	width:72%;
	font-size:12px;
	font-size:1rem;
	line-height:2em;
	color:#fff;
}